.header{
    width: 100%;
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    background-color: #0e0e0e;
    font-size: 3vw;
    padding-bottom: 15px;
    box-shadow: 0px 1px 4px #7e7e7e;
    color: white;
    z-index: 100;
    align-items: center;
}

.header_logo {
    height: 5vw;
}

@media (max-width:1000px){
    .header{
        padding-top: 15px;
        font-size: 6.4vw;
    }
}